---
import ext3 from '../images/ext3.png';
---


<div class="about">
    <div class="about-text">
        <h1>Dile hola al <span>futuro</span> del renderizado y modelado 3D</h1>
        <p>Realizamos renderizado fotorrealista para empresas de arquitectura e inmobiliarias.</p>
    </div>
    
    <div class="imagen-render">
        <img src={ext3.src} alt="Renderizado de una casa moderna">
    </div>
</div>


<style>

.imagen-render {
    width: 900px;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-render img {
    width: 225%; 
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: -2%;
    max-width: none;
}

.about-text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 100; 
    padding: 56px;
    justify-content: center;
    width: calc(100% - 700px);
    max-width: calc(100% - 700px);
}

.about-text span{
    color: #778DA9;
}

.about {    
    background-color: white;
    display: flex;        
    flex-direction: row;
    text-align: center;
    font-family: 'Urbanist', sans-serif; 
    font-weight: 100;
    font-size: x-large;
    overflow-x: hidden; /* Evita el scroll horizontal */
    max-width: 100vw;

}

.about p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: clamp(16px, 2vw, 40px); 
    line-height: 1.4;
    color: #000000A3;
}

.about h1 {
    color: black;
    font-weight: 800;
    font-size: clamp(16px, 5vw, 64px); 
    line-height: 1.1;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .about {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
    }
    .imagen-render {
        width: 100%;
        max-width: 100%;
        height: 400px;
    }
    .imagen-render img {
        width: 100%;
        min-width: 120vw;
        margin-left: -10%;
        height: 100%;
    }
    .about-text {
        margin-top: 0px;
        order: 2;
        padding: 0 1rem;
        text-align: center;
        width: 100%;
        min-width: 100%;
    }

    .about p {
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.4;
        color: #000000A3;
        text-align: left;
    }

    .about h1 {
        color: black;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-bottom: 20px;
        text-align: left;
    }
}

</style>


<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

