---

---

<div class="Precios">
    <h1 class="title">Precios</h1>
</div>

<style>
    .precios .title {
        margin-top: 50px;
        font-size: 44px;
        font-weight: 700;
        text-align: center;
        font-family: "Urbanist", sans-serif;
        color: black; 
    }

    @media (max-width: 1000px) {
        .servicios .title {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            font-family: "Urbanist", sans-serif;
            color: black;
        }
    }
</style>
