---

---

<div class="precios">
    <h1 class="title">Precios</h1>
    <table>
        <tr>
            <th>Servicio</th>
            <th>Tipo</th>
            <th>Precio</th>
        </tr>
        <tr>
            <td>Modelo en Sketchup</td>
            <td>Por hora</td>
            <td>$40,000</td>
        </tr>
        <tr>
            <td>Modelo en Revit</td>
            <td>Por hora</td>
            <td>$50,000</td>
        </tr>
        <tr>
            <td>Render Interior Vivienda</td>
            <td>Unitario</td>
            <td>$250,000</td>
        </tr>
        <tr>
            <td>Render Interior Comercio</td>
            <td>Unitario</td>
            <td>$300,000</td>
        </tr>
        <tr>
            <td>Render Exterior Vivienda</td>
            <td>Unitario</td>
            <td>$250,000</td>
        </tr>
        <tr>
            <td>Render Exterior Edificio Apto</td>
            <td>Unitario</td>
            <td>$300,000</td>
        </tr>
        <tr>
            <td>Render Exterior Comercio</td>
            <td>Unitario</td>
            <td>$240,000</td>
        </tr>
        <tr>
            <td>Planta Arquitectonica Ambientada</td>
            <td>Unitario</td>
            <td>$200,000</td>
        </tr>
        <tr>
            <td>Planta Arquitectónica 3D</td>
            <td>Unitario</td>
            <td>$400,000</td>
        </tr>
        <tr>
            <td class="border-left">Recorrido Virtual (1 minuto)</td>
            <td>Unitario</td>
            <td class="border-right">$3,000,000</td>
        </tr>
    </table>
    <table>
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Tiempo Entrega</th>
                <th>Menor Tiempo</th>
                <th>$ Extra</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Modelo SKP - 6 hr</td>
                <td>1 DÍA</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Modelo RVT - 6 hr</td>
                <td>1 DÍA</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>1 Render Arq.</td>
                <td>3 DÍAS</td>
                <td>1 DÍA</td>
                <td>$40,000.00</td>
            </tr>
            <tr>
                <td>2 Render Arq.</td>
                <td>5 DÍAS</td>
                <td>2 DÍAS</td>
                <td>$60,000.00</td>
            </tr>
            <tr>
                <td>3 - 4 Render Arq.</td>
                <td>7 DÍAS</td>
                <td>3 DÍAS</td>
                <td>$120,000.00</td>
            </tr>
            <tr>
                <td>5 - 7 Render Arq.</td>
                <td>9 DÍAS</td>
                <td>5 DÍAS</td>
                <td>$180,000.00</td>
            </tr>
            <tr>
                <td>1 Planta Arq. Amb.</td>
                <td>2 DÍAS</td>
                <td>1 DÍA</td>
                <td>$40,000.00</td>
            </tr>
            <tr>
                <td>1 Planta Arq. 3D</td>
                <td>3 DÍAS</td>
                <td>1 DÍA Y 1/2</td>
                <td>$50,000.00</td>
            </tr>
            <tr>
                <td>Recorrido virtual</td>
                <td>7 DÍAS</td>
                <td>5 DÍAS</td>
                <td>$150,000.00</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .precios {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    table {
        width: 60%;
        font-family: "Urbanist", sans-serif;
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden; /* hide standard table (collapsed) border */
        box-shadow: 0 0 0 1px #666; /* this draws the table border  */
        background-color: #415a77;
        margin-bottom: 40px;
        font-size: 20px;
    }
    th {
        padding: 15px;
        text-align: left;
        color: white;
    }
    td {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-weight: 600;
        background-color: white;
    }
    td:hover {
        background-color: #f0f0f0;
    }
    .border-left {
        border-bottom-left-radius: 10px;
    }
    .border-right {
        border-bottom-right-radius: 10px;
    }

    h1 {
        margin-top: 50px;
        font-size: 44px;
        font-weight: 700;
        text-align: center;
        font-family: "Urbanist", sans-serif;
        color: black;
    }

    @media (max-width: 1000px) {
        h1 {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            font-family: "Urbanist", sans-serif;
            color: black;
        }
        table {
            width: 90%;
            font-size: 15px;
        }
    }
</style>

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    />
</head>
