---
import renderizado from "../images/render.png";
import modelado3d from "../images/modelado3d.png";
import planimetria from "../images/planimetria.png";
import fotomontaje from "../images/render.png";
---

<div class="servicios">
    <div class="title">Nuestros servicios</div>
    <p>Contamos con diferentes líneas de servicios</p>
    <div class="proyectos">
        <div class="projects-grid">
            <!-- Project Card 1 -->
            <div class="project-card">
                <div class="project-image">
                    <img
                        src={renderizado.src}
                        alt="Renderizado de una casa moderna"
                    />
                </div>
                <div class="project-content">
                    <h3>Renderizado</h3>
                    <p>
                        Creamos imágenes fotorrealistas de tus diseños,
                        permitiendo visualizar proyectos con detalle antes de
                        construir. Presenta tus ideas de forma impactante y
                        convincente
                    </p>
                </div>
            </div>
            <!-- Project Card 2 -->
            <div class="project-card">
                <div class="project-image">
                    <img
                        src={modelado3d.src}
                        alt="Modelado 3D de un edificio moderno"
                    />
                </div>
                <div class="project-content">
                    <h3>Modelado 3D</h3>
                    <p>
                        Desarrollamos modelos tridimensionales precisos de tus
                        proyectos. Una base esencial para explorar el diseño,
                        identificar mejoras y comunicar tu visión
                        arquitectónica.
                    </p>
                </div>
            </div>
            <!-- Project Card 3 -->
            <div class="project-card">
                <div class="project-image">
                    <img
                        src={planimetria.src}
                        alt="Renderizado de una casa moderna"
                    />
                </div>
                <div class="project-content">
                    <h3>Dibujo de planimetría</h3>
                    <p>
                        Elaboramos planos técnicos detallados y normativos
                        (plantas, cortes, fachadas). Aseguramos la precisión
                        para una correcta ejecución y comunicación en obra.
                    </p>
                </div>
            </div>

            <!-- Project Card 4 -->
            <div class="project-card">
                <div class="project-image"></div>
                <div class="project-content">
                    <h3>Fotomontaje</h3>
                    <p>
                        Integramos tus proyectos arquitectónicos en fotografías
                        reales del entorno. Muestra cómo se verá tu diseño en su
                        ubicación final, contextualizando y resolviendo dudas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Projects Section */
    .servicios {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e0e1dd;
    }
    .servicios p {
        margin-bottom: 34px;
        font-size: 25px;
        font-family: "Urbanist", sans-serif;
        font-weight: 500;
    }
    .servicios .title {
        font-size: 44px;
        font-weight: 700;
        text-align: center;
        font-family: "Urbanist", sans-serif;
        color: black;
    }
    .servicios .projects-grid {
        font-family: "Urbanist", sans-serif;
    }

    .servicios .proyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .projects-grid {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
    }

    .project-card {
        flex: 1 1 calc(40%);
        background: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 10px;
    }

    .project-card .project-content h3 {
        font-size: 27px;
    }

    .project-card .project-content p {
        font-size: 20px;
        font-weight: 500;
    }

    .project-image {
        aspect-ratio: 12/9;
        background-color: #eee;
    }

    .project-image img {
        width: 100%;
        height: auto;
    }

    .project-content {
        padding: 24px;
    }

    .project-content h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .project-content p {
        color: #666;
    }

    @media (max-width: 1000px) {
        .project-card {
            flex: 1 1 calc(100% - 20px);
        }
        .project-card .project-content h3 {
            font-size: 23px;
        }

        .project-card .project-content p {
            font-size: 18px;
            font-weight: 500;
        }
        .servicios p {
            margin-bottom: 34px;
            font-size: 18px;
            font-family: "Urbanist", sans-serif;
        }
        .servicios .title {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            font-family: "Urbanist", sans-serif;
            color: black;
        }
    }
</style>

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    />
</head>
