---
import renderizado from "../images/render.png";
import modelado3d from "../images/modelado3d.png";
import planimetria from "../images/planimetria.png";
import fotomontaje from "../images/fotomontaje.png";
---

<div class="servicios" id="servicios">
    <div class="title">Nuestros servicios</div>
    <p>Contamos con diferentes líneas de servicios</p>
    <div class="proyectos">
        <div class="projects-grid">
            <!-- Project Card 1 -->
            <div class="project-card">
                <div class="project-image">
                    <img
                        src={renderizado.src}
                        alt="Renderizado de una casa moderna"
                    />
                </div>
                <div class="project-content">
                    <h3>Renderizado</h3>
                    <p>
                        Creamos imágenes fotorrealistas de tus diseños,
                        permitiendo visualizar proyectos con detalle antes de
                        construir. Presenta tus ideas de forma impactante y
                        convincente
                    </p>
                </div>
            </div>
            <!-- Project Card 2 -->
            <div class="project-card">
                <div class="project-image">
                    <img
                        src={modelado3d.src}
                        alt="Modelado 3D de un edificio moderno"
                    />
                </div>
                <div class="project-content">
                    <h3>Modelado 3D</h3>
                    <p>
                        Desarrollamos modelos tridimensionales precisos de tus
                        proyectos. Una base esencial para explorar el diseño,
                        identificar mejoras y comunicar tu visión
                        arquitectónica.
                    </p>
                </div>
            </div>
            <!-- Project Card 3 -->
            <div class="project-card">
                <div class="project-image">
                    <img
                        src={planimetria.src}
                        alt="Renderizado de una casa moderna"
                    />
                </div>
                <div class="project-content">
                    <h3>Dibujo de planimetría</h3>
                    <p>
                        Elaboramos planos técnicos detallados y normativos
                        (plantas, cortes, fachadas). Aseguramos la precisión
                        para una correcta ejecución y comunicación en obra.
                    </p>
                </div>
            </div>

            <!-- Project Card 4 -->
            <div class="project-card">
                <div class="project-image">
                    <img
                        src={fotomontaje.src}
                        alt="Renderizado de una casa moderna"
                    />
                </div>
                <div class="project-content">
                    <h3>Fotomontaje</h3>
                    <p>
                        Integramos tus proyectos arquitectónicos en fotografías
                        reales del entorno. Muestra cómo se verá tu diseño en su
                        ubicación final, contextualizando y resolviendo dudas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="title" class="title-elegir">¿Por qué elegirnos?</div>
    <div class="elegir-section">
        <div class="card">
            <i class="bi bi-piggy-bank" style="font-size: 5em; color: #415A77;"
            ></i>
            <h3>Precios asequibles</h3>
            <p>
                Ofrecemos tarifas competitivas sin sacrificar la calidad.
                Excelencia arquitectónica al alcance de tu presupuesto.
            </p>
        </div>
        <div class="card">
            <i
                class="bi bi-calendar2-check"
                style="font-size: 5em; color: #415A77;"></i>
            <h3>Entrega rápida</h3>
            <p>
                Nos comprometemos a una entrega eficiente y puntual. Tu proyecto
                listo cuando lo necesitas, sin demoras.
            </p>
        </div>
        <div class="card">
            <i class="bi bi-house-heart" style="font-size: 5em; color: #415A77;"
            ></i>
            <h3>Expertos Calificados</h3>
            <p>
                Contamos con profesionales altamente cualificados y con
                experiencia. Tu visión en manos expertas para resultados
                impecables.
            </p>
        </div>
    </div>
    <button class="elegirnos-button">Solicitar servicio</button>
</div>

<style>
    /* Por qué elegirnos Section */
    .elegir-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        align-items: start;
        padding: 50px 0;
        padding-bottom: 0;
        color: black;
        font-family: "Urbanist", sans-serif;
    }
    .elegir-section .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;        
        margin: 0 20px;
        max-width: 360px;
    }
    .elegir-section .card h3 {
        font-size: 23px;
        font-weight: 600;
    }
    .elegir-section .card p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
    }
    .elegirnos-button{
        background-color: #415A77;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 550;
        cursor: pointer;
    }

    /* Projects Section */
    .servicios {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e0e1dd;
    }
    .servicios p {
        margin-bottom: 34px;
        font-size: 25px;
        font-family: "Urbanist", sans-serif;
        font-weight: 500;
    }
    .servicios .title {
        margin-top: 50px;
        font-size: 44px;
        font-weight: 700;
        text-align: center;
        font-family: "Urbanist", sans-serif;
        color: black;
    }
    .servicios .projects-grid {
        font-family: "Urbanist", sans-serif;
    }

    .servicios .proyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .projects-grid {
        max-width: 1700px;
        display: flex;
        flex-wrap: wrap;
    }

    .project-card {
        flex: 1 1 calc(20%);
        background: white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 10px;
    }

    .project-card .project-content h3 {
        font-size: 23px;
    }

    .project-card .project-content p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .project-image {
        aspect-ratio: 12/9;
        background-color: #eee;
    }

    .project-image img {
        width: 100%;
        height: auto;
    }

    .project-content {
        padding: 24px;
    }

    .project-content h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    @media (max-width: 1000px) {
        .project-card {
            flex: 1 1 calc(100% - 20px);
        }
        .project-card .project-content h3 {
            font-size: 23px;
        }

        .project-card .project-content p {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 0;
        }
        .servicios p {
            margin-bottom: 34px;
            font-size: 18px;
            font-family: "Urbanist", sans-serif;
        }
        .servicios .title {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            font-family: "Urbanist", sans-serif;
            color: black;
        }
        .servicios.highlight {
            animation: highlightFade 1.2s;
        }

        .elegir-section .card p {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.5;
        }
        .elegir-section .card {
            padding: 0;
        }
        .elegir-section{
            padding-top: 0;       
            gap: 0;

        }


        @keyframes highlightFade {
            0% {
                box-shadow: 0 0 0 8px #f7c873;
            }
            80% {
                box-shadow: 0 0 0 8px #f7c873;
            }
            100% {
                box-shadow: none;
            }
        }
    }
</style>

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    />
</head>

<script>
    if (typeof window !== "undefined") {
        window.addEventListener("hashchange", () => {
            if (window.location.hash === "#servicios") {
                const section = document.getElementById("servicios");
                if (section) {
                    section.classList.add("highlight");
                    setTimeout(
                        () => section.classList.remove("highlight"),
                        1200,
                    );
                }
            }
        });
        // Si el usuario entra directamente con #servicios
        if (window.location.hash === "#servicios") {
            window.addEventListener("DOMContentLoaded", () => {
                const section = document.getElementById("servicios");
                if (section) {
                    section.classList.add("highlight");
                    setTimeout(
                        () => section.classList.remove("highlight"),
                        1200,
                    );
                }
            });
        }
    }
</script>
