---
//const { title } = Astro.props;
import logo from '../images/logo.png';
---

<style>
  .top-bar {
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif; 

  }

  .hidden {
    transform: translateY(-100%);
  }

  .top-bar-content {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 150px;
    height: auto;
  }
  .animation {
    text-decoration: none;
    color: black;           
    font-weight: 1000;      
    margin-left: 1rem;    
    cursor: pointer; 
    position: relative;
    padding: 0 10px;
  }
  .animation:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0; 
    left: 0;
    bottom: -10px;
    transition: 1s;
  }

  .animation:hover:after {
    width: 100%;
  }



</style>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<div id="top-bar" class="top-bar">
    <div class="top-bar-content">
        <div class="top-bar-logo">
            <img class="logo" src={logo.src} alt="Revoco Arquitectura" />
        </div>
        <div class="top-bar-links">
            <a class="animation" href="/">Inicio</a>
            <a class="animation" href="/nosotros">Nosotros</a>
            <a class="animation" href="/proyectos">Proyectos</a>
            <a class="animation" href="/contacto">Contacto</a>
        </div>
    </div>
    
</div>

<script type="module" is:inline>
  let lastScroll = 0;
  const topBar = document.getElementById('top-bar');

  window.addEventListener('scroll', () => {
    const currentScroll = window.pageYOffset;

    if (currentScroll > lastScroll && currentScroll > 50) {
      // Scroll hacia abajo
      topBar.classList.add('hidden');
    } else {
      // Scroll hacia arriba
      topBar.classList.remove('hidden');
    }

    lastScroll = currentScroll;
  });
</script>