---
import render_vision from "../images/render_vision.png";
---

<div class="vision">
    <h1>Nuestra Vision</h1>
    <p>
        En Revoco Arquitectura, creemos que cada espacio tiene el potencial de
        transformar vidas. Nuestro equipo de arquitectos apasionados combina
        creatividad, innovación y sostenibilidad para crear diseños que no solo
        son estéticamente impresionantes, sino también funcionales y respetuosos
        con el medio ambiente.
    </p>
    <p>
        Hemos desarrollado proyectos que van desde residencias privadas hasta
        complejos comerciales, siempre manteniendo nuestro compromiso con la
        excelencia y la satisfacción del cliente.
    </p>
    <div>
        <div class="image-grid">
            <img src={render_vision.src} alt="">
            <div class="image-item"></div>
            <div class="image-item"></div>
            <div class="image-item"></div>
        </div>
    </div>
</div>
